body {

    background-color: #061c4cdb;
}

.classic-box {

    width: calc((100% / 10) - 1px);
    aspect-ratio: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.background-even {

    background-color: aqua;
}

.background-odd {
    background-color: red;
}